<h1>Customers with Missing Email</h1>
<%= render partial: 'customer', collection: @customers %>

<%= link_to 'View All Customers', customers_path %>
<%= link_to 'View Alphabetized', alphabetized_customers_path %>
